.container{
    margin-left: 100px;
    margin-top: 100px;
}

.square-orange{
    width: 55px;
    height: 55px;
    background-color: #f2994a;
    rotate: 45deg;
}
.square-blue {
    margin-left: 77px;
    margin-top: -55px;
    width: 55px;
    height: 55px;
    background-color: #9b51e0;
    rotate: 45deg;
}
.square-purple{
    margin-left: 0px;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    background-color: #2f80ed;
    rotate: 45deg;
}
.square-red {
    margin-left: 77px;
    margin-top: -55px;
    width: 55px;
    height: 55px;
    background-color:  #eb5757;
    rotate: 45deg;
}