.container {
    margin: auto;
    width: 223px;
    background:  #c4c4c4;
}

header{
    width: 100%;
    background-color: #eb5757;
    height: 31px;
}

section{
    margin-top:11px;
    display: flex;
    width: 100%;
}

.col-1{
    width: 149px;
    height: 126px;
    background-color: #f2994a;
}

.col-2{
    margin-left:11px;
    width: 64px;
    height: 126px;
    background-color: #eb5757;
}

footer{
    margin-top:35px;
    width: 100%;
    background-color: #9b51e0;
    height: 34px;
}